nav {
    background: #2D2E2E;
    height: 100%;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {

            a {
                color: #fff;
                padding: 20px;
                display: block;
                position: relative;
            }
            a:hover:after{
                content:attr(data-tooltip);
                position: absolute;
                margin-left : 5px;
                left: 100%;
                padding:10px;
                border-radius: 15px;
                background:rgba(43, 2, 41, 0.705);
                
            }

            .activated {
                background-color: #d62285ab;
            }
        }
    }
    
}